.view{
    padding:1%;
    margin:0%;
    /* background-position: 15%; */
    background-image: linear-gradient(135deg, #ebe5ebb8 10%, #e8e7f17d 100% );
   

}
.hotel-deatils{
    font-weight: 500;
    font-size: 40px;
    color: #009879;
}

.styled-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.active-row{

    background-color: #051613b7;
}
.styled-table thead tr {
    background-color: #009879;
    color: #1d0303;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #0b0101;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #090303;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0b1816;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #e6f1ef;
}